<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{%static 'estilo.css'%}">

    </head>
    <body>


        <div class="navbar">
            <a href="/home/" >Home</a>
            <a href="/escribir/" class="active">Escribir una noticia</a>
            <a href="/eliminar/" >Eliminar</a>
    
        </div>

        


        <form class="main" action="/escribir/" method="post">
            {% csrf_token %}

            <h2>Articulo</h2>
            <section class="fakeimg" style="height:200px;">
                <p>
                    Autor
                    <input type="text" name="nombre">
                </p>
            
                <p>
                    Tema
                    <input type="text" name="tema">
                </p>
            
            
                <p >
                    Contenido
                    <input type="text" name="contenido">
                    
                </p>

                <p>
                    <input type="submit" value="Enviar">
                </p>
            </section>     
        </form>
        
        <div class="footer">
            <h2 >Mi github</h2>
            <a href= "https://github.com/CesarAndreChavezHerrera">visitar</a>
        </div>

    </body>
</html>
