<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{%static 'estilo.css'%}">

    </head>
    <body>

        <div class="navbar">
            <a href="/home/" >Home</a>
            <a href="/escribir/">Escribir una noticia</a>
            <a href="/eliminar/ " class="active">Eliminar</a>
    
        </div>

        <section class="main">
            <h2>Noticias publicadas </h2>
            {% for i in noticias %}
            
            <article class="fakeimg">
                <h2>
                    {{ i.tema }}
                </h2>
                <h4>
                    {{i.nombre}}
                </h4>
            
            <form  action="/eliminar/" method="post" >
                {%csrf_token%}
                <input type="text" value="{{i.id}}" name="id"  style="visibility:hidden;width:1px;height:1px"/> 
                <input type="text" value="eliminar" name="accion"  style="visibility:hidden;width:1px;"/> 
                <input type="submit" value="Eliminar" />
            </form>
            <form  action="/eliminar/" method="post" >
                {%csrf_token%}
                <input type="text" value="{{i.id}}" name="id"  style="visibility:hidden;width:1px;height:1px"/> 
                <input type="text" value="modificar" name="accion"  style="visibility:hidden;width:1px;height:1px"/> 
                <input type="submit" value="modificar" />
            </form>
            
            </article>
            </br>
            {% endfor %}
        </section>



        <div class="footer">
        <h2 >Mi github</h2>
        <a href= "https://github.com/CesarAndreChavezHerrera">visitar</a>
        </div>

    </body>
</html>
